<div class="card border-0 shadow-lg">
  <div class="card-header">
    <h3 class="mt-2"><%= @recipe.title %> <%= link_to 'Editar', edit_recipe_path(@recipe), class: 'btn btn-primary' %></h3>
  </div>
  <div class="card-body">
    <p class="strong"> Criado por: <%= @recipe.user.email %> </p>
    <p class="strong"> Tipo de Receita: <%= @recipe.recipe_type.name %> </p>
    <p class="strong"> Tempo de preparo: <%= @recipe.cook_time %> minutos </p>
    <p class="strong"> Ingredientes: <%= @recipe.ingredients %> </p>
    <h4>Forma de preparo</h4>
    <p><%= @recipe.instructions%></p>
  </div>

  <% if current_user %>
    <% if Review.where(user: current_user, recipe: @recipe).empty? %>
      <%= link_to 'Deixe sua avaliação', new_recipe_review_path(@recipe) %>
    <% end %>
  <% end %>

  <div>
    Avaliações

    <% @recipe.reviews.each do |recipe_review| %>
      Usuário: <%= recipe_review.user.email %>
      Nota: <%= recipe_review.grade %>/5
      Comentário: <%= recipe_review.text %>
    <% end %>
  </div>
</div>
